<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/style.css?Thursday 24th of April 2008 04:45:21 PM">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="center">
      <h1>Question 1: What is the perplexity of an LTMN process?</h1>
      <h4>Handy Note</h4>
      <p>You can solve this question by thinking about the perplextity of an LTMN process,
        however an LTMN process doesnt actually exist, it's just here for demonstration purposes</p>
    </div>
  </body>
</html>
