<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/style.css?Thursday 24th of April 2008 04:45:21 PM">
  <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
</head>
</head>
<div class="center">
<title>Upload your Resume</title>
  <body>
  <h1>Upload your Resume</h1>
  <form action="" method=post enctype=multipart/form-data>
    <input class="button" type=file name=file>
    <input class="button" type=submit value=Upload>
    <br><br><br>
    <input type="text" name="text">

  </form>
</div>
</body>
