body {
    background-color: #FFAAAA;
    font-family: 'Oxygen', sans-serif;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  color: white;
}

h4 {
  color: grey;
}

a {
  color: white;
  font-weight: 800;
}

.button {
    background-color: white;
    border: none;
    color: #FFAAAA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid;
    border-radius: 25px;
}

input[type=text] {
    border: 2px solid pink;
    border-radius: 4px;
    height: 40px;

    background-color: #FFAAAA;
    width: 600px
}
